.fc{
    color: white;
    padding-bottom: 0rem;
    margin-top: 0.5rem;
    font-size: 1.2rem;
}
.Footer{
    background-color: black;
    display: flex;
    justify-content: space-around;
    padding-top: 2rem;
    padding-bottom: 1rem;
}
.line{
    line-height: 3rem;
}
.icon{
    color: white;    
    /* margin-top: 1rem; */
}
.icon:hover,.number:hover{
    color: #ff9696;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}
.ig:hover{
    color: #e9ff96;
    transition: 0.5s ease-in-out;

}
.if:hover{
    color: #96deff;
    transition: 0.5s ease-in-out;

}
.iw:hover{
    color: #96ffa0;
    transition: 0.5s ease-in-out;

}
.i1{
    margin-right: 0.5rem;
}
.li{
    height: 2rem;
    /* margin-top: 1rem; */
}
.fHead{
    font-size: 2rem!important;
}
.top{
    height: 3rem;
    width: 3rem;
    background-color: #84b5ff;
    border-radius: 50%;
    margin-top: 0.5rem;
    cursor: pointer;
}
.arrowUp{
    font-size: 3rem!important;
    color: black;
}
.arrowUp:hover{
    color: white;
}
.top:hover{
    background-color: transparent;
    color: white;
    border: 2px solid white;
    overflow: hidden;
    transition: 0.3s ease-in-out;
}
@media(max-width:660px){
    .Footer{
        flex-direction: column;
        padding-left: 2rem;
        gap: 2rem;
    }
}